AOC
AOCCustomizationContent
Core
Engine
ExampleEditor
GameFramework
GFxUI
GFxUIEditor
IpDrv
OnlineSubsystemGameSpy
OnlineSubsystemLive
OnlineSubsystemPC
OnlineSubsystemSteamworks
SDKTest
UDKBase
UnrealEd
UTEditor
UTGame
UTGameContent
WinDrv